.show {
    display: block;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  .modal-dailog {
    width: 920px;
  }
 
  .modal {
    overflow: auto;
  }
  
  .btn-action {
    text-align: center;
  }

  .radio-buttons {
    display: flex;
  }